@typeparam E
@if (DataContext is null)
{
    return;
}
<TelevisionBarComponent ShowProgress="false" />
@if (_finishedFirst == false)
{
    return;
}
<YouTubeFullScreenComponent VideoID="@VideoID"
        StartAt="@ResumeAt"
        SkipList="DataContext.Skips"
        EndAt="@EndAt"
        @ref=_player
        ProgressAction="ShowProgressAsync"
        VideoEnded="DataContext!.VideoFinishedAsync">
        <span style="font-size: 3rem;  font-weight: bold;">
            @DataContext!.ProgressText
        </span>
</YouTubeFullScreenComponent>